<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd 
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">
  
	<bean class="com.springcore.Student" name="student1" p:studentID="12345" p:studentName="Swapnali" 
	p:studentCity="Pune" />
	<bean class="com.springcore.Student" name="student2" p:studentID="9876" p:studentName="Raj" 
	p:studentCity="Sangli" />
	<bean class="com.springcore.Student" name="student3" p:studentID="0000" p:studentName="Dhanashree" 
	p:studentCity="Pen" />
                           
</beans>