<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd 
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">
         
         <bean class=" com.springcore.constrinject.Certificate" name="certificate">
         	<constructor-arg value="Java Core"></constructor-arg>
         </bean>
         
        <bean class=" com.springcore.constrinject.Person" name="person">
        	<constructor-arg value="12345"></constructor-arg>
        	<constructor-arg value="Swapnali" ></constructor-arg>
        	<constructor-arg ref="certificate"></constructor-arg>
        	<constructor-arg>
        		<list>
        			<value>Pune</value>
        			<value>Mumbai</value>
        			<value>Sangli</value>
        			<value>Hyderabad</value>
        		</list>
        	</constructor-arg>
        </bean>                  
                           
</beans>
                           